<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create garment</title>
</head>
<body>
    <h1>Add a garment</h1>
    <form action="/garments" method="POST">
        <label for="name">Nama garment</label>
        <input type="text" name="name" id="name">
        <label for="location">Lokasi</label>
        <input type="text" name="location" id="location">
        <label for="contact">Kontak</label>
        <input type="number" name="contact" id="contact">
        <input type="submit" value="Add garment">
    </form>
</body>
</html>